*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --bg-primary: rgb(30 64 175);
    --bg-secondary: rgb(239 246 255);
}
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

header {
    background-color: var(--bg-primary);
    color: white;
    padding: 15px;
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}
.form-control label{
    font-size:12px;
    font-weight:600
}
.form-select {
    width: 350px;
    height: 1.75rem;
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 12px;
}
main {
    width: 100%;
    margin-bottom:3rem;
}
.d-none{display: none !important;}
.block-header{
    width: 100%;
    height: 100%;
    background: var(--bg-secondary);
    font-size: 14px;
    font-weight: 600;
    border: 0;
    padding: 15px;
    text-align:center;
    color: rgb(13 65 213)
}

.shadow-1{
    box-shadow: 0px 1px 3px 1px #d6d6d6;
}
.my-3{margin-block: 1rem !important}
.mb-1{margin-bottom: .75rem !important}
.table-wrapper{ background: var(--bg-secondary);}
.chartBox{ 
    background: var(--bg-secondary);
    margin-right: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    height:515px;
}
table.mytable {
    width: max(315px, 98%);
    margin: auto;
    background: #fff;
}
.w-100{
    width:100% !important;
}
.w-50{
    width:49% !important;
}
.analytics-block, .analytics-block .block-content{
    display: flex;
    height:100%;
    flex-wrap: wrap;
}

footer {
    background-color: var(--bg-primary);
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}
/*  */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    /* min-height: 385px; */
  }
  th, td {
    padding: 8px;
    text-align: left;
    font-size: 12px;
    text-align: center;
 }
  th {
    background-color: rgb(219 234 255);
    color: rgb(13 65 213);
  }
 
   /* Styles for the pagination component */
   .pagination  {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        padding: 15px;
    }
  .pagination button {
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: all 500ms linear;
  }
  
  .items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  .item {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .pagination-pg-info {
    color: #1e40af;
    font-size: 14px;
}
.pagination button:active, .pagination button.active  {
    background-color: #0e5eb3;
    transition: all 500ms linear;
}
.pagination button:disabled, .pagination button.disabled {
    background-color: #83a6cb;
    cursor: not-allowed;
}


#chart-container {
    background-color: #003399; /* Blue background matching the image */
    padding: 20px 10px;
    text-align: center;
    color: white; /* Text color for labels */
    border-radius: 10px; /* Rounded corners */
    margin-bottom: 20px;
}

#myChartDemo {
    margin: 0 auto;
    display: block;
    background-color: rgba(240, 248, 255, 0.9); /* Optional light background */
    border-radius: 10px;
}
